img {
    width: 130px;
    height: 150px;
}

.card {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.card .content {
    flex: 1 1 auto;
}

.card:hover {
    transform: translateY(-10px);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* halaman registrasi */

.form-registration input {
  border-radius: 0;
  margin-bottom: -1px;
}
